* {
    box-sizing: border-box;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
body {
    background-color: #FFF5EE;
}
.main__wrapper {
    display: flex;
    justify-content: center;
}
.button {
    padding: 50px;
    margin-top: 100px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #000;
    outline: none;
    border: none;
}
a {
    padding: 50px; 
    color: #fff;
    text-decoration: none;
}
.button:hover {
    background-color: #fff;
    color: #000;
}
a:hover {
    color: #000;
}