@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?wznrzt');
    src: url('../fonts/icomoon.eot?wznrzt#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?wznrzt') format('truetype'),
        url('../fonts/icomoon.woff?wznrzt') format('woff'),
        url('../fonts/icomoon.svg?wznrzt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-feedback-icon:before {
    content: "\e900";
    color: #0E38B1;
}

.icon-cost-icon:before {
    content: "\e901";
    color: #0E38B1;
}

.icon-time-icon:before {
    content: "\e902";
    color: #0E38B1;
}

.icon-conversation-img:before {
    content: "\e903";
    color: #0E38B1;
}

.icon-storage-img:before {
    content: "\e904";
    color: #0E38B1;
}

.icon-steps-img:before {
    content: "\e905";
    color: #0E38B1;
}

.icon-agreement-img:before {
    content: "\e906";
    color: #0E38B1;
}

.icon-deadline-img:before {
    content: "\e907";
    color: #0E38B1;
}

.icon-offer-img:before {
    content: "\e908";
    color: #0E38B1;
}

.icon-github:before {
    content: "\e909";
    color: #333333;
}

.icon-twitter:before {
    content: "\e90a";
    color: #333333;
}

.icon-instagram:before {
    content: "\e90b";
    color: #333333;
}

.icon-facebook:before {
    content: "\e90c";
    color: #333333;
}
